<ion-header>
  <ion-toolbar>
    <ion-title>Mobile View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ sharedData.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="onButtonClick()" expand="block">
        Acción Mobile
      </ion-button>
      <ion-button (click)="onAddItem()" expand="block">
        Agregar Item
      </ion-button>
      <ion-list>
        <ion-item *ngFor="let item of sharedData.items; let i = index">
          {{ item }}
          <ion-button (click)="onRemoveItem(i)" slot="end">Eliminar</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
