<ion-header>
  <ion-toolbar>
    <ion-title>Add Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      (ionInput)="title.set($event.target.value)"
      [clearInput]="true"
      [value]="title()"
      placeholder="Task title">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      (ionChange)="selectedCategoryId.set($event.detail.value)"
      [value]="selectedCategoryId()"
      placeholder="Select category">
      @for (category of categoryService.categories(); track category.id) {
        <ion-select-option [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-button
    (click)="addTask()"
    [disabled]="!title || !selectedCategoryId"
    class="ion-margin"
    expand="block">
    Add Task
  </ion-button>
</ion-content>
